<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container mt-4" style="background-color: #46b08fbd">
<div class="row clearfix">
    <div class="col-lg-12">
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <% if @user.photo.attached? %>
                                <%= link_to profile_path(@user), data: { toggle: 'modal' } do %>
                                    <%= image_tag file_path(@user.photo)  %>
                                <% end %>
                            <% else %>
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                </a>
                            <% end %>
                            <div class="chat-about">
                                <h6 class="m-b-0">
                                    <%= link_to @user.username, profile_path(@user), class: "text-black", data_mdb_ripple_color: "dark", data: {turbo: false} %>
                                </h6>
                                <% if @user.status %>
                                    <small class="change_user_status_<%= @user.id %>">online</small>
                                <% else %>
                                    <small class="change_user_status_<%= @user.id %>">Last seen: <%= time_ago_in_words(@user.last_seen_at) %> ago</small>
                                <% end %>
                            </div>
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div>
                    </div>
                </div>
                <div class="chat-history overflow-y-scroll" style="height: 700px;">
                    <ul class="m-b-0">
                            <%= turbo_stream_from "messages" %>
                            <div id="messages">
                                <%= render @messages, {id: current_user.id} %>
                            </div>
                            <div class="" style="height: 100px;">
                            </div>
                    </ul>
                </div>
                <%= form_for @message, data: {controller: 'comment', action: "turbo:submit-end->comment#greet" } do |f| %>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <%= f.text_field :body, class: "form-control", placeholder: "Enter message here...", id: "addANote" %>
                            <%= f.hidden_field :receiver_id, value: @user.id %>
                        </div>
                    </div>
                <% end %>
            </div>
    </div>
</div>
</div>