<turbo-frame target="specific_post">
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <% if @user.photo.attached? %>
                  <%= image_tag file_path(@user.photo), style: "width: 150px; z-index: 1", class: "img-fluid img-thumbnail mt-4 mb-2" %>
                <% else %>
                  <%= image_tag 'profile.png', style: "width: 150px; z-index: 1", class: "img-fluid img-thumbnail mt-4 mb-2" %>

                <% end %>
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5><%= full_name(@user) %></h5>
                <p>New York</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #46b08fbd">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5"><%= @user.posts.count %></p>
                  <p class="small text-muted mb-0">Posts</p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5"><%= @followers %></p>
                  <p class="small text-muted mb-0">Followers</p>
                </div>
                <div>
                  <p class="mb-1 h5"><%= @following %></p>
                  <p class="small text-muted mb-0">Following</p>
                </div>
              </div>
            </div>
            <turbo-frame id="user_data" style="background-color: #46b08fbd">
              <div class="mt-4 d-flex justify-content-center">
                <% if current_user == @user %>
                  <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "btn btn-outline-dark btn-rounded btn-sm mx-1",
                  data: { mdb_ripple_color: "dark", turbo: false } %>
                <% else %>
                  <%= button_to current_user.follows?(@user) ? "Unfollow" : "Follow", toggle_follow_path({id: @user.id}), class: "btn btn-outline-dark btn-rounded btn-sm mx-1",
                  data: { mdb_ripple_color: "dark" } %>
                  <%= link_to "Chat", messages_path({id: @user.id}), class: "btn btn-outline-dark btn-rounded btn-sm mx-1",
                  data: { mdb_ripple_color: "dark", turbo: false } %>
                <% end %>
              </div>
            </turbo-frame>
            <div class="card-body p-4 text-black" style="background-color: #46b08fbd">
              <div class="mb-5">
                <p class="lead fw-normal mb-1">About</p>
                <div class="p-4" style="background-color: #46b08fbd">
                  <p class="font-italic mb-1"><%= raw(@user.bio.gsub(/\r?\n/, "<br>")) %></p>
                </div>
              </div>
              <%= turbo_frame_tag "users_posts" do %>

              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Recent photos</p>
                <p class="mb-0">
                    <%= link_to "Show all", all_users_posts_path({id: @user.id}), class: "text-muted" %>
                </p>
              </div>

              <div class="row">
                <% if @user.posts.present? %>
                  <% @user.posts.limit(2).each do |post| %>
                    <div class="col-6 mb-5">
                      <%= link_to post_path({id: post.id}), data: {turbo: false} do %>
                          <%= image_tag file_path(post.medias.first), class: "w-100 rounded-3" %>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                    <div>
                      There's nothing to display
                    </div>
                  </div>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</turbo-frame>