<div class="body">
  <ul class="comment-reply list-unstyled">
    <li class="row clearfix">
      <div class="icon-box col-md-2 col-4">
        <% if comment.user.photo.attached? %>
          <%= image_tag file_path(comment.user.photo), style: "width: 150px; z-index: 1", class: "img-fluid img-thumbnail" %>
        <% else %>
          <%= image_tag 'profile.png', style: "width: 150px; z-index: 1", class: "img-fluid img-thumbnail" %>
        <% end %>
      </div>
      <div class="text-box col-md-10 col-8 p-l-0 p-r0">
        <h5 class="m-b-0 text-dark"><%= comment.user.first_name %></h5>
        <p class="text-dark"><%= comment.content %></p>
        <ul class="list-inline">
          <li>
            <a href="javascript:void(0);" class="text-dark"
              ><%= time_ago_in_words(comment.created_at) %> ago</a
            >
          </li>
          <li><a href="javascript:void(0);" class="text-dark" >Reply</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div>
