<turbo-stream action="replace" target="messages">
  <template>
    <turbo-frame id="messages" style="background-color: #46b08fbd">
      <div style="height: 600px" class="overflow-y-scroll">
        <% @comments.each do |comment| %> <%= render partial:
        'comments/comment', formats: [:html], locals: { comment: comment } %> <%
        end %>
      </div>
    </turbo-frame>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="counts">
  <template>
    <turbo-frame id="counts">
      <div class="header" style="background-color: #46b08fbd">
        <h2><%= pluralize(@post.comments.count, "comment") %></h2>
      </div>
    </turbo-frame>
  </template>

<turbo-stream action="replace" target="post_comment_form_<%= @post.id %>">
  <template>
    <%= turbo_frame_tag 'post_comment_form' do %>
    <li >
        <%= link_to new_post_comment_path(@post), class: "text-dark" do %>
        <i class="fas fa-comments"></i> <%= pluralize(@post.comments.count, 'comment') %>
        <% end %>
    </li>
<% end %>
  </template>
</turbo-stream>
