<div class="container col-sm-4 mx-auto mt-4">
    <% posts.each do |post| %>
        <div class="card text-center bg-info" style="width: 18rem;">
            <%= image_tag file_path(post.medias.first), class: "rounded mx-auto d-block" %>
            <h6 class="card-subtitle mb-2 text-body-secondary mt-2">by <%= post.user.first_name %> <%= post.user.last_name%> </h6>
            <div class="card-body">
                <p class="card-text"><%= post.description %></p>
                <%= link_to "View Post", post_path(post), class: "btn btn-dark" %>
            </div>
            <div class="card-footer text-body-secondary">
                <%= time_ago_in_words(post.created_at) %> ago
            </div>
        </div>
    <% end %> 
</div>
