<%= tag.div id: dom_id(post) do %>
  <div class="card text-center bg-info my-2" style="width: 18rem;">
                <%= image_tag file_path(post.medias.first), class: "rounded mx-auto d-block" %>
                <h6 class="card-subtitle mb-2 text-body-secondary mt-2">by <%= post.user.first_name %> <%= post.user.last_name%> </h6>
                <div class="card-body">
                    <p class="card-text"><%= post.description %></p>
                    <%= link_to "View Post", post_path(post), class: "btn btn-dark" %>
                </div>
                <div class="card-footer text-body-secondary">
                    <%= time_ago_in_words(post.created_at) %> ago
                </div>
                <div class="row justify-content-between mb-2">
                    <% if current_user_post_like?(post) %>
                        <div class="col-sm-3"> 
                            <%= pluralize(post.likes.count, "like") %>
                            <%= link_to "Unlike", likes_path({id: post}), data: {turbo_stream: true, turbo_method: :delete} %>
                        </div>
                    <% else %>
                        <div class="col-sm-3"> 
                            <%= pluralize(post.likes.count, "like") %>
                            <%= link_to "Liked", likes_path({id: post}), data: {turbo_stream: true, turbo_method: :post} %>
                        </div>
                    <% end %>
                    <div class="col-sm-3"> 1 </div>
                    <div class="col-sm-3"> 1 </div>
                </div>
            </div>
<% end %>