<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
  integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
  crossorigin="anonymous"
/>

<div class="col-4">
  <div class="row mt-n5">
    <div
      class="mt-5 wow fadeInUp"
      data-wow-delay=".2s"
      style="
        visibility: visible;
        animation-delay: 0.2s;
        animation-name: fadeInUp;
      "
    >
      <div class="blog-grid">
        <div class="blog-grid-img position-relative">
          <div class="card-header text-center mt-2">
            Posted by <%= post.user.first_name %> - <%= time_ago_in_words(post.created_at) %> ago
          </div>
          <% if post.medias.attached? %>
            <%= image_tag file_path(post.medias.first), class: "rounded mx-auto d-block w-100 mt-2" %>
          <% end %>
        </div>
        <div class="blog-grid-text p-4">
          <h3 class="h5 mb-3">
            <a href="#!">Business tool for your customer</a>
          </h3>
          <p class="display-30">
            <%= truncate(post.caption,length: 50) %>.
          </p>
          <div class="card-body">
            <%= link_to "View Post", post_path(post), class: "stretch-link text-primary" %>
          </div>
          <div class="meta meta-style2">
            <ul class="d-flex justify-content-between">
              <li>
                  <a href="#!"><i class="fas fa-regular fa-heart"></i> <%= pluralize(post.likes.count, 'like') %></a>
              </li>
              <%= turbo_frame_tag 'comment_form' do %>
                <li>
                  <%= link_to new_post_comment_path(post) do %>
                    <i class="fas fa-comments"></i> <%= pluralize(post.comments.count, 'comment') %>
                  <% end %>
                </li>
              <% end %>
              <li>
                <a href="#!"><i class="fas fa-eye"></i> <%= pluralize(post.views, 'view') %></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
