<div class="col-4">
  <div class="row mt-n5">
    <div
      class="mt-5 wow fadeInUp"
      data-wow-delay=".2s"
      style="
        visibility: visible;
        animation-delay: 0.2s;
        animation-name: fadeInUp;
      "
    >
      <div class="blog-grid" style="background-color: #46b08fbd">
        <div class="blog-grid-img position-relative">
          <div class="card-header text-center mt-2">
            <%= link_to profile_path(post.user), class: "text-dark", data_mdb_ripple_color: "dark", data: {turbo: false} do %>
              Posted by <%= post.user.first_name %> - <%= time_ago_in_words(post.created_at) %> ago
            <% end %>

          </div>
          <% if post.medias.attached? %>
            <% if is_video?(post.medias.first.content_type) %>
              <%= video_tag file_path(post.medias.first), :size => "320x240", :controls => true, class: "rounded mx-auto d-block w-75 mt-2 " %>
            <% else %>
              <%= image_tag file_path(post.medias.first), class: "rounded mx-auto d-block w-75 mt-2 " %>
            <% end %>
          <% end %>
        </div>
        <div class="blog-grid-text p-4">
          <p class="display-30 text-center">
            <%= truncate(post.caption,length: 50) %>.
          </p>
          <div class="card-body text-center">
            <%= link_to "View Post", post_path(post), class: "link-dark" %>
          </div>
          <div class="meta meta-style2">
            <ul class="d-flex justify-content-between">
              <li>
                <p class="text-dark">
                  <turbo-frame id="likes_<%= post.id %>">
                      <% if current_user_post_like?(post) %> 
                        <%= link_to likes_path({post_id: post.id}), data: {turbo_method: :delete} do %> 
                          <i class="fas fa-heart"></i>
                        <% end %> 
                      <% else %> 
                        <%= link_to post_likes_path(post), data: {turbo_method: :post} do %> 
                          <i class="fas fa-heart"></i>
                        <% end %> 
                      <% end %>
                      <%= pluralize(post.likes.count, 'like') %> 
                  </turbo-frame>
                </p>
              </li>
              <turbo-frame id="post_comment_form_<%= post.id %>">
                <%= turbo_frame_tag 'comment_form' do %>
                <li >
                  <%= link_to new_post_comment_path(post), class: "text-dark" do %>
                    <i class="fas fa-comments"></i> <%= pluralize(post.comments.count, 'comment') %>
                  <% end %>
                </li>
              <% end %>
              </turbo-frame>
              <li>
                <p class="text-dark" ><i class="fas fa-eye"></i> <%= pluralize(post.views, 'view') %></>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
