<%= tag.span id: dom_id(post) do %>
  <div class="card text-center bg-secondary my-2" style="width: 18rem;">
                <div class="card-footer text-body-secondary">
                    <%= post.user.first_name %> <%= post.user.last_name%> posted <%= time_ago_in_words(post.created_at) %> ago
                </div>
                <div class="row">
                    <% if post.medias.attached? %>
                        <% post.medias.each do |media| %>
                            <div class="col-md-6">
                                <%= image_tag file_path(media), class: "rounded mx-auto d-block w-100 mt-2" %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <div class="card-body">
                    <p class="card-text"><%= post.description %></p>
                    <%= link_to "View Post", post_path(post), class: "btn btn-dark" %>
                </div>
                <div class="mb-2 row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="text-center my-2">
                                <%= pluralize(post.likes.count, "like") %>
                            </div>
                            <div class="text-center my-2"> 
                                <% if current_user_post_like?(post) %>
                                    
                                    <%= link_to likes_path({id: post}), data: {turbo_stream: true, turbo_method: :delete} do %>
                                        Unlike
                                    <% end %>
                                <% else %>
                                    <%= link_to likes_path({id: post}), data: {turbo_stream: true, turbo_method: :post} do %>
                                        Like
                                    <% end %>
                                <% end %>
                            </div>

                        </div>
                    </div>
                    <div class=" col-sm-4 flex-grow-1 p-0">
                        <div class="row">
                            <div class="my-2">
                                <%= pluralize(post.comments.count, "comment") %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<% end %>
