<div class="container">
    <h1 class="text-center">Upload your post </h1>
    <%= form_for @post do |f| %>
        <%= render "devise/shared/error_messages", resource: @post %>
        <div class="col-sm-4 mx-auto">
            <div class="field col-form-label">
                <%= f.label :caption, "Add Caption about this post" %><br />
                <%= f.text_field :caption, class: "form-control" %>
            </div>

            <div class="input-group col-form-label">

                <%= f.file_field :medias, class: "form-control" ,id: "inputGroupFile02", multiple: true %>
            </div>

            <div class="actions">
                <%= f.submit "Upload your post", class: "btn btn-outline-success" %>
            </div>
        </div>
    <% end %>
</div>