<%= turbo_frame_tag "users_posts" do %>

  <div class="d-flex justify-content-between align-items-center mb-4">
    <p class="lead fw-normal mb-0">Recent photos</p>
  </div>

  <div class="row">
    <% if @user.posts.present? %>
      <% @user.posts.each do |post| %>
        <% if is_video?(post.medias.first.content_type) %>
          <div class="col-6 mb-5">
            <%= link_to post_path({id: post.id}), data: {turbo: false} do %>
                <%= video_tag file_path(post.medias.first), :size => "320x240", :controls => true, class: "w-100 rounded-3" %>
            <% end %>
          </div>
        <% else %>
          <div class="col-6 mb-5">
            <%= link_to post_path({id: post.id}), data: {turbo: false} do %>
                <%= image_tag file_path(post.medias.first), class: "w-100 rounded-3" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
        <div>
          There's nothing to display
        </div>
      </div>
    <% end %>
  </div>
<% end %>